body {
    background-color: white;
    margin: 0;
    font-family: 'Lato', sans-serif;
    height: 3000px
}
.header {
    display: flex;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(200, 200, 200);
}
.logo {
    margin-left: 60px;
}
.menu {
    margin-right: 60px;
}
.menu a {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    color: rgb(80, 80, 80);
    text-decoration: none;
}
.menu :hover {
    text-decoration: underline;
}
.logo img {
    height: 70px;
}
.sobre_nos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.img_sobre_nos {
    width: 100%;
    height: 300px;
}
.img_shadow{
    display: flex;
    width: 100%;
    height: 300px
}
.img_shadow::before{
    display: flex;
    content: "";
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.sobre_nos p {
    display: flex;
    color: white;
    font-size: 36px;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.lower_sobre_nos{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.text_sobre_nos{
    width:65%
}
.core_text{
    padding-left: 60px;
    font-size: 24px;
    width: 90%;
    font-weight: lighter;
    padding-right: 60px;
    color: rgb(80, 80, 80);
}
.title{
    padding-left: 60px;
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    width: 70%;
}
.side_img_sobre_nos{
    display: flex;
    width:35%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
}
.side_img_sobre_nos img{
    display: flex;
    width:450px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
}
.logo_2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.logo_2 img{
    height: 200px;
}
.servicos_head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_shadow_servicos{
    display: flex;
    width: 100%;
    height: 370px;
    overflow: hidden;
}
.img_shadow_servicos::before{
    display: flex;
    content: "";
    position: absolute;
    width: 100%;
    height: 370px;
    background-color: rgba(0, 0, 0, 0.25);
    overflow: hidden;
    z-index: 1;
}
.servicos_head p {
    display: flex;
    color: white;
    font-size: 36px;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.img_servicos{
    width: 100%;
    height:100%;
}

.logo_1{
    display: flex;
    width:100%;
    height: 280px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 90px;
    padding-bottom: -100px;
}
.logo_1 img{
    height: 300px;
}
.logo_1 p {
    font-size: 36px;
}