body {
    background-color: #FAFCFB;
    margin: 0;
    font-family: 'Marcellus', serif;
}
.header {
    display: flex;
    background-color: #F9D4C1;
    height: 90px;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 60px;
}
.menu {
    margin-right: 60px;
}
.menu a {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}
.menu :hover {
    text-decoration: underline;
}
img {
    height: 70px;
}
.logo_slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
    margin-bottom: 125px;
}