{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= stylesheet href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <title>JJ Estética Jovem - Home</title>
    </head>
<body>
    <div class="header">
        <div id="home" class="logo">
            <a href="#home"><img src="{% static 'img/logo_jj_roxo.jpeg' %}"></a>
        </div>
        <div class="menu">
            {% if user.is_authenticated %}
                <a href="#sobre_nos">SOBRE NÓS</a>
                <a href="#servicos">SERVIÇOS</a>
                <a href="/agendamentos/">AGENDAMENTOS</a>
                <a href="#contato">CONTATO</a>
                <a href='/accounts/profile'> PERFIL </a>
                <a href='/accounts/logout'> LOGOUT </a>
            {% else %}
                <a href="#sobre_nos">SOBRE NÓS</a>
                <a href="#servicos">SERVIÇOS</a>
                <a href="/accounts/login/">AGENDAMENTOS</a>
                <a href="#contato">CONTATO</a>
                <a href="/accounts/login/"> LOGIN </a>
            {% endif %}

        </div><!-- menu -->
    </div><!-- header -->
    <div class="logo_1" >
        <img src="{% static 'img/logo_jj_roxo_quad.jpeg' %}">
    </div><!--logo_1-->
    <div id="sobre_nos" class="sobre_nos">
        <div class="img_shadow">
            <img class="img_sobre_nos" src="{% static 'img/sobre_nos.jpeg' %}">
        </div>
        <p>SOBRE NÓS</p>
    </div>
    <div class="lower_sobre_nos">
        <div class="text_sobre_nos">
            <p class="title">JJ Estética Jovem: O Seu Refúgio Personalizado para Beleza e Bem-Estar</p>
            <p class="core_text">Bem-vindo à JJ Estética Jovem, onde sua beleza e bem-estar são cuidadosamente cultivados. Nossa equipe experiente está dedicada a proporcionar uma experiência única, onde cada tratamento é adaptado às suas necessidades exclusivas.</p>
            <p class="core_text">Desde a sua primeira consulta, onde ouvimos atentamente sua história e avaliamos suas necessidades, até a seleção cuidadosa de serviços, respaldados por anos de expertise dermatológica, nosso objetivo é criar uma jornada de cuidados estéticos personalizados.</p>
            <p class="core_text">Aqui na JJ Estética Jovem, sua pele é o centro das atenções e seu bem-estar é nossa paixão genuína.</p>
        </div>
        <div class="side_img_sobre_nos">
            <img class="img_sobre_nos" src="{% static 'img/sobre_nos_text.jpeg' %}">
        </div><!--side_img_sobre_nos-->
    </div><!--lower_sobre_nos-->
    <div class="logo_2" >
        <img src="{% static 'img/logo_jj_roxo_quad.jpeg' %}">
    </div><!--logo_2-->
    <div id="servicos" class="servicos_head">
        <div class="img_shadow_servicos">
            <img class="img_servicos" src="{% static 'img/servicos.jpeg' %}">
        </div>
        <p>SERVIÇOS</p>
    </div><!--servicos_head-->
    <p class="procedure_type">ANTI-AGING</p>
    <div class="servicos_body">
        <div class="box_servico">
            <img class="img_serv_1" src="{% static 'img/laser_lavieen.jpeg' %}">
            <h1 class="title_servico">LASER LAVIEEN</h1>
            <h3>Apresentamos o inovador Laser LaVieen, uma opção avançada para rejuvenescimento em nossa clínica. Usando tecnologia a laser de ponta, estimula colágeno, reduzindo manchas e melhorando a firmeza da pele, para um visual mais jovem e uniforme.</h3>
            <div class="button_agendamento">
                <a class="link_agendar" href="/agendamentos/schedule/">AGENDAR</a>
            </div>
        </div><!--serv_1-->
        <div class="box_servico">
            <img class="img_serv_2" src="{% static 'img/ultraformer.jpeg' %}">
            <h1 class="title_servico">ULTRAFORMER</h1>
            <h3>O Ultraformer é uma tecnologia avançada de rejuvenescimento que utilizamos em nossa clínica. Por meio de ultrassom microfocado, o Ultraformer estimula a produção de colágeno, proporcionando firmeza e rejuvenescimento à pele de maneira não invasiva</h3>
            <div class="button_agendamento">
                <a class="link_agendar" href="/agendamentos/schedule/">AGENDAR</a>
            </div>
        </div>
        <div class="box_servico">
            <img class="img_serv_3" src="{% static 'img/botox.jpeg' %}">
            <h1 class="title_servico">PREENCHIMENTO FACIAL</h1>
            
            <h3>Nossos preenchimentos faciais de Botox e ácido hialurônico, fundamentais em nossa clínica focada em rejuvenescimento. Botox suaviza rugas relaxando os músculos, enquanto o ácido hialurônico preenche áreas com perda de volume, realçando a vitalidade da sua pele</h3>
            <div class="button_agendamento">
                <a class="link_agendar" href="/agendamentos/schedule/">AGENDAR</a>
            </div>
        </div>
        <div class="box_servico">
            <img class="img_serv_4" src="{% static 'img/bioestimulador_de_colageno.jpeg' %}">
            <h1 class="title_servico">BIOESTIMULADOR DE COLÁGENO</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam urna diam, fringilla gravida auctor ac, vehicula mollis justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac eleifend nibh. Cras id porta quam.</h3>
            <div class="button_agendamento">
                <a class="link_agendar" href="/agendamentos/schedule/">AGENDAR</a>
            </div>
        </div><!--serv_4-->
    </div><!--servicos_body-->
    <p class="procedure_type">CUIDADOS COM A PELE</p>
    <div class="servicos_body">
        <div class="box_servico">
            <img class="img_serv_1" src="{% static 'img/peeling_superficial.jpeg' %}">
            <h1 class="title_servico">PEELING SUPERFICIAL</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam urna diam, fringilla gravida auctor ac, vehicula mollis justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac eleifend nibh. Cras id porta quam.</h3>
            <div class="button_agendamento">
                <a class="link_agendar" href="/agendamentos/schedule/">AGENDAR</a>
            </div>
        </div><!--serv_1-->
        <div class="box_servico">
            <img class="img_serv_2" src="{% static 'img/peeling_medio.jpeg' %}">
            <h1 class="title_servico">PEELING MÉDIO</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam urna diam, fringilla gravida auctor ac, vehicula mollis justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac eleifend nibh. Cras id porta quam.</h3>
            <div class="button_agendamento">
                <a class="link_agendar" href="/agendamentos/schedule/">AGENDAR</a>
            </div>
        </div><!--serv_2-->
        <div class="box_servico">
            <img class="img_serv_3" src="{% static 'img/hidratacao_facial.jpeg' %}">
            <h1 class="title_servico">HIGIENIZAÇÃO E HIDRATAÇÃO FACIAL</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam urna diam, fringilla gravida auctor ac, vehicula mollis justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac eleifend nibh. Cras id porta quam.</h3>
            <div class="button_agendamento">
                <a class="link_agendar" href="/agendamentos/schedule/">AGENDAR</a>
            </div>
        </div><!--serv_3-->
        <div class="box_servico">
            <img class="img_serv_4" src="{% static 'img/limpeza_de_pele.jpeg' %}">
            <h1 class="title_servico">LIMPEZA DE PELE</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam urna diam, fringilla gravida auctor ac, vehicula mollis justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac eleifend nibh. Cras id porta quam.</h3>
            <div class="button_agendamento">
                <a class="link_agendar" href="/agendamentos/schedule/">AGENDAR</a>
            </div>
        </div><!--serv_4-->
    </div><!--servicos_body-->
    <div id="contato" class="footer">
        <div class="footer_logo">
            <a href="#home"><img src="{% static 'img/logo_jj_roxo_quad.jpeg' %}"></a>
        </div><!-- footer_logo -->
        <div class="adress_and_number">
            <p class="adress">Rua Quatá, 200</p>
            <p class="adress">Vila Olímpia</p>
            <p class="adress">São Paulo - SP</p>
            <p class="number">(11) 99999-9999</p>
        </div><!-- adress_and_number -->
        <div class="social_media">
            <div class="instagram">
                <a href="https://www.instagram.com/"><img class="social_media_icon" src="{% static 'img/instagram.png' %}">@jj_estetica_jovem</a>
            </div>
            <div class="facebook">
                <a href="https://www.facebook.com/"><img class="social_media_icon" src="{% static 'img/facebook.png' %}">JJ Estética Jovem</a>
            </div>
        </div>
    </div>
</body>
</html>

<script src="{% static 'code/base.js' %}"></script>