<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">
    <title>JJ Estética Jovem - Home</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="img/logo.png" alt="Logo JJ Estética Jovem">
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Meus Serviços</a></li>
                <li><a href="#">Meus Agendamentos</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
    <h1>Teste</h1>

</body>
</html>