{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= stylesheet href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
        <title>JJ Estética Jovem - Home</title>
    </head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/"><img src="{% static 'img/logo.png' %}"></a>
        </div><!-- logo -->
        <div class="menu">
                <a href="#sobre_nos">SOBRE NÓS</a>
                <a href="#meus_servicos">SERVIÇOS</a>
                <a href="#meus_agendamentos">AGENDAMENTOS</a>
                <a href="#contato">CONTATO</a>
                <a href="/accounts/login/">LOGIN</a>
        </div><!-- menu -->
    </div><!-- header -->
    <div class="logo_slogan">
        <h1>JJ ESTÉTICA JOVEM</h1>
        <h2>Onde o Luxo se Encontra com a Estética</h2>
    </div><!-- logo_slogan -->

</body>
</html>