{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>JJ Estética Jovem - Perfil</title>
</head>
<body>

    <div class="profile-img">
        <div class="img_shadow">
            <img class="img_sobre_nos" src="{% static 'img/sobre_nos.jpeg' %}">
        </div>
        <div class="circle"> 
            <img src="{{ profile_img }}" class="profile-img">    
        </div>
    </div>    
    <div class="message">
        <p>Olá {{ profile.first_name }} {{ profile.last_name }}, seja sempre bem-vindo!</p>
    </div>
    <div class="form-container">
        <div class="container">
            <div class="column left">
                <div class="form-item">
                    <label class="input-box">
                        <p>Nome:</p>
                        {{ profile.first_name }}
                    </label>
                </div>
                <div class="form-item">
                    <label class="input-box">
                        <p>Sobrenome:</p>
                        {{ profile.last_name }}
                    </label>
                </div>
                <div class="form-item">
                    <label class="input-box">
                        <p>Email:</p>
                        {{ profile.email }}
                    </label>
                </div>
                <div class="form-item">
                    <label class="input-box">
                        <p>CPF:</p>
                        {{ profile.cpf }}
                    </label>
                </div>
            </div>
            <div class="column right">
                <div class="form-item">
                    <label class="input-box">
                        <p>Idade:</p>
                        {{ profile.age }}
                    </label>
                </div>
                <div class="form-item">
                    <label class="input-box">
                        <p>Data de Nascimento:</p>
                        {{ profile.birth }}
                    </label>
                </div>
                <div class="form-item">
                    <label class="input-box">
                        <p>Telefone:</p>
                        {{ profile.phone_number }}
                    </label>
                </div>
                <div class="form-item">
                    <label class="input-box">
                        <p>Gênero:</p>
                        {{ profile.gender }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="links">
        <h4><a href='/accounts/edit'>Editar informações</a></h4>
        <a class= "home-link" href="/"> Voltar a Home </a>
    </div>    
</body>
</html>