<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% comment %} Here I divided each element of the form in its individual div, for more control when customizing in css {% endcomment %}
    <div class='first-name'>
        <p> Nome 
        {{ form.first_name }}
        </p>
        </div>

    <div class='last-name'>
        <p> Sobrenome
        {{ form.last_name }}
        </p>
        </div>

    <div class='email'>
        <p> Email
        {{ form.email }}
        </p>
        </div>

    <div class='cpf'>
        <p> CPF
        {{ form.cpf }}
        </p>
        </div>

    <div class='password1'>
        <p> Senha
        {{ form.password1 }}
        </p>
        </div>

    <div class='password2'>
        <p> Confirme a Senha
        {{ form.password2 }}
        </p>
        </div>
    <li> Sua senha deve conter pelo menos 8 caracteres </li>
    <li> Sua senha não pode conter apenas numero </li>
    <li> Sua senha não pode conter informações pessoais </li>



    <div class='birth'>
        <p> Data de Nascimento
        {{ form.birth }}
        </p>
        </div>

    <div class='phone-number'>
        <p> Numero de Telefone
        {{ form.phone_number }}
        </p>
        </div>

    <div class='gender'>
        <p> Gênero
        {{ form.gender }}
        </p>
        </div>

    <button type="submit" class="finalizar">Finalizar</button>
</form>
