{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= stylesheet href="{% static 'css/profile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>JJ Estética Jovem - Perfil</title>
</head>
<body>
    Nome: {{ profile.first_name }} <br>
    Sobrenome: {{ profile.last_name }} <br>
    Email: {{ profile.email }} <br>
    CPF: {{ profile.cpf }} <br>
    Idade: {{ profile.age }} <br>
    Data de Nascimento: {{ profile.birth }} <br>
    Numero de Telefone: {{ profile.phone_number }} <br>
    Gênero: {{ profile.gender }} <br>

    <h4> Clique <a href='/accounts/edit'>Aqui</a> para editar informações incorretas </h4>
    <a href="/"> Home </a>
</body>
</html>